ruff==0.15.18
# Part of open-webui
# pytest==9.1.1
pytest-cov==7.1.0
pytest-mock==3.15.1
pytest-asyncio==1.4.0
pytest-env==1.2.0
pytest-httpx==0.35.0
pytest-loguru==0.4.1
# Match what open-webui 0.10.2 has for filelock
filelock==3.29.0
